<template>
  <BlogCreateEdit :blogs="blogs" :errors="errors" :isInsert="false" @update="UpdateItem" >
    <h5>Update Blog</h5>
  </BlogCreateEdit>
</template>

<script>
import BlogCreateEdit from "../../components/blog/BlogCreateEdit.vue";
import axiosClient from "../../axiosClient";
import { validateBlog } from "../../validate";

export default {
  components: { BlogCreateEdit },
  name: "Update",
  data() {
    return {
      blogs:{},
      errors: [],
    };
  },
  created() {
    this.getDataBlog(this.$route.params.id);
  },
  methods: {

    /**
     * call api to update blog
     * @returns void
     */
    UpdateItem() {
      this.errors = validateBlog(this.blogs);
      if (this.errors.length == 0) {
        axiosClient
          .put(`/${this.$route.params.id}`, this.blogs)
          .then((res) => {
            window.location.href = "/";
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    /**
     * call api to get data blog
     * @param id
     * @returns void
     */
    getDataBlog(id) {
      axiosClient.get(`/${id}`)
        .then((res) => {
          this.blogs = res.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>