<template>
  <BlogList :blogs="blogs" />
</template>

<script>
import BlogList from "../../components/blog/BlogList.vue";
import axiosClient from "../../axiosClient";
export default {
  name: "Index",
  components: {
    BlogList,
  },
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.getAllBlogs()
  },
  methods: {
    /**
     * call api to get all blogs
     * @returns void
     */
    getAllBlogs() {
      axiosClient
        .get("/")
        .then((res) => {
          this.blogs = res.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>