<template>
  <BlogCreateEdit :blogs="blogs" :errors="errors" @insert="InsertItem" :isInsert="true">
    <h5>New Blog</h5>
  </BlogCreateEdit>
</template>

<script>
import axiosClient from "../../axiosClient";
import BlogCreateEdit from "../../components/blog/BlogCreateEdit.vue";
import {validateBlog} from "../../validate.js";

export default {
  name: "Create",
  components: {
    BlogCreateEdit,
  },
  data() {
    return {
      blogs: {
        title:'',
        desctiption:'',
        content:'',
        category:'',
        is_published:'',
        date_public:'',
        position:[]
      },
      errors: [],
    };
  },
  methods: {
    /**
     * call api to insert new blog
     * @returns void
     */
    InsertItem(blog) {
      this.errors = validateBlog(blog);
      if (this.errors.length == 0) {
        axiosClient
          .post("/", blog)
          .then((res) => {
            window.location.href = "/";
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
