<template>
  <form>
    <div class="col-md-12 p-0 my-2">
      <div class="card mx-2">
        <div class="card-header">
          <slot></slot>
        </div>
        <div class="card-body p-0">
          <div class="mx-3">
            <div class="form-group">
              <label>Tiêu đề:</label>
              <input type="text" v-model="blogs.title" class="form-control" />
              <span v-if="errors.includes('title')" class="danger text-danger">Title has required</span
              >
            </div>
            <div class="form-group">
              <label>Mô tả ngắn:</label>
              <textarea rows="5" v-model="blogs.description" class="form-control"></textarea>
              <span v-if="errors.includes('description')" class="danger text-danger" >Description has required</span>
            </div>
            <div class="form-group">
              <label>Chi tiết:</label>
              <textarea rows="8" v-model="blogs.content" class="form-control"></textarea>
              <span v-if="errors.includes('content')" class="danger text-danger">Content has required</span>
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Vị trí:</label>
              <div class="form-check form-check-inline" v-for="address in positionList" :key="address.id">
                <input class="form-check-input" type="checkbox" :value="address.id" v-model="blogs.position"/>
                <label class="form-check-label">{{ address.name }}</label>
              </div>
              <div v-if="errors.includes('position')" class="danger text-danger" >Position has required</div>
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Public:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="public" type="radio" id="inlineRadio1" value="1" v-model="blogs.is_published"/>
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="public" type="radio" id="inlineRadio2" value="0" v-model="blogs.is_published"/>
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <div v-if="errors.includes('is_published')" class="danger text-danger" >Public has required</div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-md-6">
                <label>Loại:</label>
                <select class="form-select" v-model="blogs.category">
                  <option v-for="cate in categoryList" :key="cate.id" :value="cate.id">
                    {{ cate.name }}
                  </option>
                </select>
                <span v-if="errors.includes('category')" class="danger text-danger" >Category has required</span>
              </div>
              <div class="form-group col-md-6">
                <label>Date Public</label>
                <input class="form-control" type="date" v-model="blogs.date_public" />
                <span v-if="errors.includes('date_public')" class="danger text-danger" >Date public has required</span>
              </div>
            </div>
            <div class="d-flex justify-content-center my-3">
              <button class="btn btn-success me-2" type="submit" @click.prevent="handleSubmit">Submit</button>
              <button class="btn btn-primary me-2" type="reset">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import categoryList from '../../convert/category';
import positionList from '../../convert/position';

export default {
  name: "BlogCreateEdit",
  props: {
    blogs: {},
    errors: [],
    isInsert: true, 
  },  
  data() {
    return {
      categoryList: categoryList,
      positionList: positionList,
    };
  },
  methods: {
    /**
     * call emit to insert or update
     */
    handleSubmit() {
      if(this.isInsert){
        this.$emit("insert", this.blogs);
      }else{
        this.$emit("update", this.blogs);
      }
    },
  },
};
</script>
