<template>
  <div class="card mx-2">
    <div class="card-header">
      <h5>List Blog</h5>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Tin</th>
            <th scope="col">Loại</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Ngày public</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="blogs.length == 0">
            <td colspan="8">
              <h5>Blog Not Found</h5>
            </td>
          </tr>
          <tr class="text-center" v-for="blog in blogs" :key="blog.id">
            <th class="width-50">{{ blog.id }}</th>
            <td class="text-start">{{ blog.title }}</td>
            <td>{{ getCategory(blog.category) }}</td>
            <td>{{ blog.is_published == "1" ? "Yes" : "No" }}</td>
            <td>{{ getPosition(blog.position) }}</td>
            <td>{{ blog.date_public }}</td>
            <td style="width: 50px">
              <router-link :to="{ name: 'update', params: { id: blog.id } }">
                <button class="btn btn-outline-primary">Edit</button>
              </router-link>
            </td>
            <td class="width-50">
              <button
                class="btn btn-outline-danger"
                @click="deleteBlog(blog.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axiosClient from "../../axiosClient.js";
import categoryList from "../../convert/category";
import positionList from "../../convert/position";

export default {
  name: "BlogList",
  props: {
    blogs: {},
  },
  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      const name = categoryList.find((data) => data.id == id);
      return name ? name.name : "";
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPosition(arrayId) {
      const positions = positionList.filter((place) => arrayId.includes(place.id))
        .map((place) => place.name);
      return positions.join(", ");
    },

    /**
     * delete blog by id
     * @param id
     * @returns void
     */
    async deleteBlog(itemId) {
      await axiosClient
        .delete(`/${itemId}`)
        .then((res) => {
          window.location.href = "/";
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
