/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */

  /* font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
/*body,html{*/
/*    background-color: rgb(228,229,230);*/
/*}*/
.sidebar-menu .sidebar-menu-item:hover{
    background-color: rgb(228,229,230);
}
.sidebar{
    height: auto;
}
.footer{
    background-color: rgb(73,78,83);
    font-size: 15px;
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
}
.bg-gray{
  background-color: rgb(228, 229, 230)
}
.width-50{
  width: 50px;
}
.f-size-2rem{
  font-size: 2rem;
}
.img-style{
  width: 25%;
  height: auto;
}