<script>
import AppFooter from "./components/AppFooter.vue";
import AppHeader from "./components/AppHeader.vue";
import AppMenu from "./components/AppMenu.vue";


export default {
  components:{
    AppMenu, AppHeader, AppFooter,
  }
}
</script>

<template>
  <!-- Header Start -->
  <AppHeader />
  <!-- Header Ends -->
  <div class="content container-fluid row p-0 bg-gray">
    <!--  Sidebar Start  -->
    <AppMenu />
    <!--  Sidebar Ends -->

    <!--  Main Content Start -->
    <div class="col-md-10 p-0 my-2">
      <router-view />
    </div>
    <!--  Main Content Ends  -->
  </div>

  <!-- Footer Start -->
  <AppFooter />
  <!-- Footer Ends -->
</template>

